{
    "presets": [
        [ "@babel/preset-env", {
            "modules": false,
            "targets": {
                "browsers": [
                    "Last 2 Chrome versions",
                    "Last 2 Firefox versions",
                    "Last 2 Safari versions",
                    "Last 2 iOS versions",
                    "Last 1 Android version",
                    "Last 1 ChromeAndroid version",
                    "ie 11"
                ]
            }
        } ],
        "@babel/preset-react"
    ],
    "plugins": [ "@babel/plugin-proposal-class-properties" ]
}