@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

html {
	overflow-x: hidden;
}

body {
	background: #221f1f;
	color: #ffffff;
	font-family: "Lato", sans-serif;
}

h2, .TitleList .Title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 1em;
}

p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 1em;
}

.button-el {
	background: transparent;
	display: flex;
	height: 44px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
	box-sizing: border-box;
	border: 2px solid rgba(245, 245, 241, 0.2);
	border-radius: 44px;
	font-size: 14px;
	font-weight: 600;
	transition: border 0.125s ease, background 0.125s ease;
}

.button-el:hover {
	border: 2px solid #f5f5f1;
}

.button-el[data-primary=true] {
	border: 2px solid #e50914;
}

.button-el[data-primary=true]:hover {
	background: #e50914;
}