.hero {
	width: 100%;
	position: relative;
	background-size: cover;
	min-height: 550px;
}

.hero .content {
	background-color:rgba(0, 0, 0, 0.7);
}

.hero .content {
	position: relative;
	z-index: 4;
	width: 325px;
	left: 5vw;
	top: 10vw;
}

@media only screen and (max-width: 600px) {
	.hero .content {
		top: 36vw;
	}
}

.hero .content .logo {
	max-width: 400px;
	display: block;
	position: relative;
	left: 2px;
}

.hero .content h2 {
	width: 100%;
	position: relative;
	left: 5px;
	margin-top: 5px;
}
.hero .content p {
	width: 100%;
	position: relative;
	left: 10px;
	margin-top: -10px;
}

.hero .content .button-wrapper {
	display: flex;
	width: 400px;
	margin-top: 20px;
	margin-left: 50px;
}

.hero .content .button-wrapper .button-el:first-child {
	margin-right: 10px;
}

.hero .overlay {
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}